 {% extends "base.jinja2" %} {% block title %}Extract Links{% endblock %}
 {% block list %}
<li class="breadcrumb-item"><a href="/extract">Extract</a></li>
<li class="breadcrumb-item active" aria-current="page">Links</a></li>
{%endblock%}
 
 {% block content %}

<form class="py-4" action="/extract/links" method="POST">
    <div style="display: flex; align-items: center; justify-content: center;">
        <input class="form-control " style="max-width: 200px; margin-right: 5px" type="text" id="url" name="url" placeholder="url">
        <button class="btn btn-primary" type="submit" id="submit">Submit</button>
    </div>
</form>
<div class="table-responsive">
<table class="table align-items-center table-dark">
    <thead class="thead-dark">
        <tr>
            <th scope="col">URL</th>
            <th scope="col">Status</th>
            <th scope="col">Update Time </th>
            <th scope="col">Update </th>
        </tr>
    </thead>
    <tbody>
        {% for item in result %}

        <tr href="/extract/links/{{item.id}}">

            <th scope="row">
                <a href="/extract/links/{{item.id}}">
                {{item.url}}
            </a>
            </th>
            <td>
                {% if item.status_job == "RUNNING" %}
                <span class="badge badge-primary badge-pill badge-warning">{{item["status_job"]}}</span>
                <script>
                    setInterval(function() {
                        $.ajax({
                            type: "post",
                            url: "/api/extract/status",
                            data: { task: {{item.task_id|tojson}},},
                            success: function(data) {
                                //console.log the response
                                if (data["success"] == true) {
                                  location.reload();
                                }
                            }
                        });
                    }, 1000);
                </script>
                 {% else %}
                <span class="badge badge-primary badge-pill badge-success">{{item["status_job"]}}</span> {% endif %}
            </td>

            <td>
              
                {{item.begin_date|formatdatetime}}
            </td>
            <td>
            <form action="/extract/links/delete" id="delete{{item.id}}" method="GET">
                    <input type="hidden" id="id" name="id" value="{{item.id}}">
                    <a type="submit" id="submit" href="javascript:$('#delete{{item.id}}').submit();">
                        <i style="color: red" class="ni ni-fat-remove"></i>
                    </a>
                    </div>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}