 {% extends "base.jinja2" %} {% block title %}Keywords{% endblock %}{% block name %}Keywords {% endblock %} {% block content %}

<form class="py-4" action="/keywords" method="POST">
    <div style="display: flex; align-items: center; justify-content: center;">
        <input class="form-control " style="max-width: 200px; margin-right: 5px" type="text" id="query" name="query" placeholder="query">
        <button class="btn btn-primary" type="submit" id="submit">Submit</button>
    </div>
</form>

<table class="table align-items-center table-flush">
    <thead class="thead-light">
        <tr>
            <th scope="col">Query</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for item in result %}

        <tr href="keywords/{{item.id}}">

            <th scope="row">
                <a href="keywords/{{item.id}}">
                {{item.query}}
            </a>
            </th>

            <td>
                {% if item.status_job == "RUNNING" %}
                <span class="badge badge-primary badge-pill badge-warning">{{item["status_job"]}}</span> {% else %}
                <span class="badge badge-primary badge-pill badge-success">{{item["status_job"]}}</span> {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}