<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SEO Toolkit for everyone">
    <meta name="author" content="StanGirard">
    <title>{% block title %}{% endblock %}</title>
    <!-- Favicon -->
    <link rel="icon" href="/static/assets/img/brand/favicon.png" type="image/png">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="/static/assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <!-- Page plugins -->
    <!-- Argon CSS -->
    <link rel="stylesheet" href="/static/assets/css/argon.css?v=1.2.0" type="text/css">
</head>

<body>
    <!-- Sidenav -->
    <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
        <div class="scrollbar-inner">
            <!-- Brand -->
            <div class="sidenav-header  align-items-center">
                <a class="navbar-brand" href="javascript:void(0)">
                    <img src="/static/assets/img/brand/blue.png" class="navbar-brand-img" alt="...">
                </a>
            </div>
            <div class="navbar-inner">
                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                    <!-- Nav items -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                <i class="ni ni-tv-2 text-primary"></i>
                                <span class="nav-link-text">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/rank">
                                <i class="ni ni-planet text-orange"></i>
                                <span class="nav-link-text">SERP Rank</span>
                            </a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="/keywords">
                                <i class="ni ni-pin-3 text-primary"></i>
                                <span class="nav-link-text">Keywords Finder</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/graphs">
                                <i class="ni ni-single-02 text-yellow"></i>
                                <span class="nav-link-text">Internal Links Graph</span>
                            </a>
                        </li>
                    </ul>
                    <!-- Divider -->
                    <hr class="my-3">
                    <!-- Heading -->
                    <h6 class="navbar-heading p-0 text-muted">
                        <span class="docs-normal">Documentation</span>
                    </h6>
                    <!-- Navigation -->
                    <ul class="navbar-nav mb-md-3">
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/StanGirard/SEOToolkit" target="_blank">
                                <i class="ni ni-spaceship"></i>
                                <span class="nav-link-text">Getting started</span>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Main content -->
    <div class="main-content" id="panel">

        <!-- Header -->
        <!-- Header -->
        <div class="header bg-primary">
            <div class="container-fluid">
                <div class="header-body">
                    <div class="row align-items-center py-3">
                        <div class="col-lg-6 col-7">
                            {#<h6 class="h2 text-white d-inline-block mb-0">{% block name %}{% endblock %}</h6>#}
                            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                    <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                                    <li class="breadcrumb-item active" aria-current="page"> {{ self.name() }} </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container-fluid mt--6 py-4" style="padding-top:5rem !important">
            {% block content %} {% endblock %}
        </div>
    </div>
        <!-- Argon Scripts -->
        <!-- Core -->
        <script src="/static/assets/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/static/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/static/assets/vendor/js-cookie/js.cookie.js"></script>
        <script src="/static/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
        <script src="/static/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
        <!-- Optional JS -->
        <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
        <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
        <!-- Argon JS -->
        <script src="/static/assets/js/argon.js?v=1.2.0"></script>
        {% block script_js%} {% endblock%}
</body>

</html>