 {% extends "base.jinja2" %} {% block title %}Graphs - Details {% endblock %} {% block content %}
<body>
    <link rel="stylesheet" type="text/css" href="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.1.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.1.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.1.min.css" />

    <div>
        <h1>Internal linking of {{domain}} | Last Updated: {{time}}</h1>
        {{ div|safe }} {{ script|safe }}
    </div>
</body>

<script text="type/javascript " src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.1.min.js "></script>
<script text="type/javascript " src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.1.min.js "></script>
<script text="type/javascript " src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.1.min.js "></script>
<script text="type/javascript " src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.0.1.min.js "></script>

{% endblock %}