 {% extends "base.jinja2" %} {% block title %}Graphs{% endblock %} {% block content %}

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <ul class="list-group list-group-flush">
                    {% for item in result %} 
                    
                    <a href="graphs/{{item.id}}"class="list-group-item d-flex justify-content-between align-items-center list-group-item-action"> {{ item["urls"] }}
                        
                        {% if item.status_job == "RUNNING"  %} 
                            <span class="badge badge-primary badge-pill badge-warning">{{item["status_job"]}}</span>
                        {% else %}
                            <span class="badge badge-primary badge-pill badge-success">{{item["status_job"]}}</span> 
                        {% endif %}
                    </a>
                    {% endfor %}


                </ul>
            </div>
            <div class="col-sm">
                <form action="/graphs" method="POST">
                    <input type="text" id="domain" name="domain" placeholder="Domain">
                    <button type="submit" id="submit">Submit</button>
                </form>
                 {% if error  %} 
                    <div class="alert alert-danger" role="alert">
                        {{error.limit}}</br>
                    </div>
                 {% endif %}
            </div>
           
        </div>
    </div >
</body>
{% endblock %}