**/*.pyc
*.pyc
celerybeat-schedule
__pycache__
.DS_Store
*.pid

.env
node_modules
shared/logs/redis/*
shared/logs/mysql/*
shared/logs/server/*
shared/data/influxdb/imports/*
Pipfile.lock
celerybeat-schedule.db
dump.rdb
.eslintcache
admin/.eslintcache
.vscode/settings.json
