*.css linguist-detectable=false
*.python linguist-detectable=true
*.html linguist-detectable=false
*.js linguist-detectable=false
toolkit/static/* linguist-vendored
/toolkit/static/* linguist-vendored
toolkit/static/assets/vendor/* linguist-vendored
