scipy==1.4.0
bokeh==2.0.2
networkx==2.4
numpy==1.18.1
pandas==1.0.1
gensim==3.8.1
google==2.0.3
Flask==1.1.1
matplotlib==3.1.2
nltk==3.4.5
inscriptis==0.0.4.1.1
seaborn==0.10.1
requests==2.20.0
beautifulsoup4==4.9.1
scikit_learn==0.23.1
