[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.24.0"
beautifulsoup4 = "==4.9.3"
djangorestframework = "==3.12.2"
pytz = "==2020.4"
django-cors-headers = "==3.6.0"
django-filter = "==2.4.0"
drf-nested-routers = "==0.92.5"
django-contrib-postgres = "==0.0.1"
Django = "==3.1.4"
amqp = "==5.0.2"
asgiref = "==3.3.1"
billiard = "==3.6.3.0"
celery = "==5.0.5"
certifi = "==2020.12.5"
chardet = "==3.0.4"
click = "==7.1.2"
click-didyoumean = "==0.0.3"
click-plugins = "==1.1.1"
click-repl = "==0.1.6"
decorator = "==4.4.2"
idna = "==2.10"
jellyfish = "==0.8.2"
kombu = "==5.0.2"
networkx = "==2.5"
numpy = "==1.19.4"
prompt-toolkit = "==3.0.8"
psycopg2-binary = "==2.8.6"
regex = "==2020.11.13"
segtok = "==1.5.10"
six = "==1.15.0"
soupsieve = "==2.1"
sqlparse = "==0.4.1"
tabulate = "==0.8.7"
urllib3 = "==1.25.11"
vine = "==5.0.0"
wcwidth = "==0.2.5"
yake = {git = "https://github.com/LIAAD/yake"}
redis = "*"
lxml = "*"
django-celery-beat = "*"
django-organizations = "*"
django-extensions = "*"
dj-rest-auth = "*"
pyyaml = "*"
uritemplate = "*"
scipy = "*"
seaborn = "*"
bokeh = "*"
pandas = "*"
bert-extractive-summarizer = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.8"
