:80

root * /opt/osat/www
file_server 

header Access-Control-Allow-Origin *
header Access-Control-Allow-Headers *
header Access-Control-Allow-Methods *

log {
	output file         /opt/osat/logs/access.log
	format single_field common_log
}
