{% extends "base.jinja2" %} {% block title %}Extract Headers{% endblock %}{% block name %}Headers {% endblock %} {% block content %}


<div class="row">
    <div class="card-padding card col-3">
        <img class="card-img-top" src="/static/assets/img/theme/headers.png" alt="Headers">
        <div class="card-body">
            <h5 class="card-title">Extract Headers on Page</h5>
            <div style="display: flex; align-items: center; justify-content: center;">
                <a href="/extract/headers" class="btn btn-primary">Headers</a>
            </div>
        </div>
    </div>

    <div class="card-padding card col-3">
        <img class="card-img-top" src="/static/assets/img/theme/links.jpg" alt="Links">
        <div class="card-body">
            <h5 class="card-title">Extract Working Links on Page</h5>
            <div style="display: flex; align-items: center; justify-content: center;">
                <a href="/extract/links" class="btn btn-primary">Links</a>
            </div>
        </div>
    </div>

</div>


{% endblock %}