{% extends "base.jinja2" %} {% block title %}Extract Headers{% endblock %}{% block name %}Headers {% endblock %} {% block content %}



<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/static/assets/img/theme/headers.png" alt="Headers">
    <div class="card-body">
        <h5 class="card-title">Extract Headers</h5>
        <div style="display: flex; align-items: center; justify-content: center;">
            <a href="/extract/headers" class="btn btn-primary">Extract</a>
        </div>
    </div>
</div>


{% endblock %}