{% extends "base.jinja2" %} {% block title %}Extract Links Website{% endblock %}
{% block list %}
<li class="breadcrumb-item"><a href="/extract">Extract</a></li>
<li class="breadcrumb-item"><a href="/extract/links/website">Links Website</a></li>
<li class="breadcrumb-item active" aria-current="page">{{id}}</a>
</li>
{%endblock%}

{% block content %}

<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Internal Links</h5>
                        <span class="h2 font-weight-bold mb-0">{{internal_number}}</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                            <i class="ni ni-active-40"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">External Links</h5>
                        <span class="h2 font-weight-bold mb-0">{{external_number}}</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                            <i class="ni ni-chart-pie-35"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Page Visited</h5>
                        <span class="h2 font-weight-bold mb-0">{{page_visited}}</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                            <i class="ni ni-money-coins"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Crawl Time</h5>
                        <span class="h2 font-weight-bold mb-0">{{crawl_time}}</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                            <i class="ni ni-chart-bar-32"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<table class="table align-items-center table-flush">

    <h2 class="d-flex justify-content-center">Internal Links</h2>
    <thead class="thead-light">
        <tr>
            <th scope="col">Values</th>
        </tr>
    </thead>
    <tbody>
        {% for item in internal %}

        <tr>
            <td>
                <a href="{{item}}">
                    {{item}}
                </a>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<table class="table align-items-center table-flush">

    <h2 class="d-flex justify-content-center">External Links</h2>
    <thead class="thead-light">
        <tr>
            <th scope="col">Values</th>
        </tr>
    </thead>
    <tbody>
        {% for item in external %}

        <tr>
            <td>
                <a href="{{item}}">
                    {{item}}
                </a>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}