<body>
    <link rel="stylesheet" type="text/css" href="http://cdn.bokeh.org/bokeh/release/bokeh-2.0.1.min.css" />
    <link rel="stylesheet" type="text/css" href="http://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.1.min.css" />
    <link rel="stylesheet" type="text/css" href="http://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.1.min.css" />

    <div>
        <h1>Maillage Interne de {{domain}}</h1>
        {{ div|safe }} {{ script|safe }}
    </div>
</body>

<script text="type/javascript " src="http://cdn.bokeh.org/bokeh/release/bokeh-2.0.1.min.js "></script>
<script text="type/javascript " src="http://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.1.min.js "></script>
<script text="type/javascript " src="http://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.1.min.js "></script>
<script text="type/javascript " src="http://cdn.bokeh.org/bokeh/release/bokeh-api-2.0.1.min.js "></script>