 {% extends "base.jinja2" %} {% block title %}Graphs{% endblock %}
 {% block list %}
<li class="breadcrumb-item active" aria-current="page">Graphs</a></li>
{%endblock%}
 
  {% block content %}

<form class="py-4" action="/graphs" method="POST">
    <div style="display: flex; align-items: center; justify-content: center;">
        <input class="form-control " style="max-width: 200px; margin-right: 5px" type="text" id="domain" name="domain" placeholder="Domain">
        <button class="btn btn-primary" type="submit" id="submit">Submit</button>
    </div>
</form>
{% if error %}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{% endif %}

<div class="table-responsive">
<table class="table align-items-center table-dark">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Domain</th>
            <th scope="col">Status</th>
            <th scope="col">Last Updated</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in result %}

        <tr href="graphs/{{item.id}}">

            <th scope="row">
                <a href="graphs/{{item.id}}">
                    {{ item["urls"] }}
            </a>
            </th>

            <td>
                {% if item.status_job == "RUNNING" %}
                <span class="badge badge-primary badge-pill badge-warning">{{item["status_job"]}}</span> {% else %}
                <span class="badge badge-primary badge-pill badge-success">{{item["status_job"]}}</span> {% endif %}
            </td>
            <td>
                {{item.begin_date|formatdatetime}}
            </td>
            <td>
                <form action="graphs/delete" id="delete{{item.id}}" method="GET">
                    <input type="hidden" id="id" name="id" value="{{item.id}}">
                    <a type="submit" id="submit" href="javascript:$('#delete{{item.id}}').submit();">
                        <i style="color: red" class="ni ni-fat-remove"></i>
                    </a>
                    </div>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}