.CryptoList {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.CryptoHeader {
    background: grey;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
}

.CryptoRank {
    width: 5%;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    font-weight: 600;
    padding-right: 5px;
}

.CryptoHead {
    width: 20%;
}

.CryptoElement {
    height: 70px;
    padding: 20px;
    box-shadow: 0 5px 7px -2px rgba(20, 20, 20, .64);
    margin: 10px;
    background: #3C3C3C;
    color: white;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.CryptoElement:hover {
    background-color: #565656;
}

.CryptoSymbol {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    width: 5%;
}

.CryptoImage img {
    margin: 10px 0;
    width: 50px;
    float: left;
}

.CryptoChangeIcon img {
    margin: 10px 0;
    width: 20px;
    padding: 4px;
}

.CryptoImageArrow {
    width: 10px;
    padding: 4px;
}

.CryptoName {
    padding-left: 15px;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 25px;
    font-weight: 600;
    border-right: 2px solid white;
}

.CryptoPrice {
    width: 30%;
    padding-left: 20px;
    display: flex;
    font-size: 22px;
    align-items: center;
}

.CryptoIconPrice {
    width: 70%;
    display: flex;
    align-items: center;
}

.CryptoPercentageChange {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    overflow: hidden;
    padding-right: 15px;
    border-right: 2px solid white;
}

.CryptoSupply {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.CryptoSupply p {
    font-weight: 600;
    flex: 10%
}

.red {
    display: flex;
    margin-left: auto;
    margin-right: 0;
    color: red;
    align-items: flex-end;
}

.green {
    margin-left: auto;
    margin-right: 0;
    color: green;
    padding-left: 5px;
}

.row {
    display: flex;
}