 {% extends "base.jinja2" %} {% block title %}Website Full{% endblock %} {% block list %}
<li class="breadcrumb-item"><a href="/audit">Audit</a></li>
<li class="breadcrumb-item"><a href="/audit/website">Website Full</a></li>
<li class="breadcrumb-item active" aria-current="page">{{id}}</a>
</li>
{%endblock%} {% block content %}
{% for main , value in result.items() %}
{{main}}
{{value}}
<h2 class="d-flex justify-content-center">{{main.title}}</h2>
<div class="table-responsive">
    <div>
        <table class="table align-items-center table-dark">
            
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Result</th>
                    <th scope="col">Score</th>



                </tr>
            </thead>
            <tbody class="list">
                {% for item, value in value.audits.items() %}
                {{item}}
                <tr>
                    <td>

                        {{value.title}}
                    </td>
                        <td>
                            {{value.description}}
                        </td>
                        <td>
                            {{value.result}}

                        </td>
                        <td>
                            {{value.score}}

                        </td>
                       

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endfor %}


{% endblock %}