numpy==1.22.0
# torch==1.5.1
torch
spacy==2.1.3
transformers==2.2.2
Cython==0.29.10
tqdm==4.32.2
neuralcoref==4.0
argparse
scikit-learn
git+https://github.com/dmmiller612/bert-extractive-summarizer@master
Flask
flask-cors
nltk
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz
# https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.0.0a0
# https://github.com/explosion/spacy-models/releases/download/fr_core_web_sm-2.1.0/fr_core_web_sm-2.1.0.tar.gz