 {% extends "base.jinja2" %} {% block title %}Extract Images{% endblock %}
 {% block list %}
<li class="breadcrumb-item"><a href="/extract">Extract</a></li>
<li class="breadcrumb-item active" aria-current="page">Images</a></li>
{%endblock%}

{% block content %}

<form class="py-4" action="/extract/images" method="POST">
    <div style="display: flex; align-items: center; justify-content: center;">
        <input class="form-control " style="max-width: 200px; margin-right: 5px" type="text" id="url" name="url" placeholder="url">
        <button class="btn btn-primary" type="submit" id="submit">Submit</button>
    </div>
</form>

<table class="table align-items-center table-flush">
    <thead class="thead-light">
        <tr>
            <th scope="col">URL</th>
            <th scope="col">Update Time </th>
            <th scope="col">Update </th>
        </tr>
    </thead>
    <tbody>
        {% for item in result %}

        <tr href="/extract/images/{{item.id}}">

            <th scope="row">
                <a href="/extract/images/{{item.id}}">
                {{item.url}}
            </a>
            </th>

            <td>
              
                {{item.begin_date}}
            </td>
            <td>
            <form action="/extract/images/delete" id="delete{{item.id}}" method="GET">
                    <input type="hidden" id="id" name="id" value="{{item.id}}">
                    <a type="submit" id="submit" href="javascript:$('#delete{{item.id}}').submit();">
                        <i style="color: red" class="ni ni-fat-remove"></i>
                    </a>
                    </div>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}